<h1 class="text-center mt-4 mb-4">Products List</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Seller Name</th>
      <th>Product</th>
      <th>Price</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @productlists.each do |productlist| %>
    <tr>
      <td><%= productlist.sellerName %></td>
      <td><%= productlist.prodcutName %></td>
      <td><%= productlist.price %></td> 
      <td><%= productlist.category %></td> 
      <td> 
      <a href="newbuyer"><button type="button" class="btn btn-success">Buy Now</button></a>
      <%= link_to "Edit", edit_productlist_path(productlist) , class:"btn btn-primary" %>
      <%= link_to "Show", productlist_path(productlist) , class:"btn btn-info" %>
      </td> 
    </tr>
    <% end %>
  </tbody>
</table>
